In [1]:
import pandas as pd
import numpy as np

In [12]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa     a
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: object

In [13]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

# 산술 관계 논리(element Wise)

In [4]:
sr+1

aa    11
bb    21
cc    31
dd    41
ee    51
Name: 국어점수, dtype: int64

In [16]:
sr2

aa     a
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: object

In [21]:
sr[sr>=30]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [24]:
sr[(sr ==20) | (sr==40)]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [26]:
sr[(sr >=20) & (sr<=40)]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [28]:
sr[~((sr ==20) | (sr==40))]

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64

In [30]:
# sr[(sr ==20) | (sr==40)]
sr[sr.isin([20,40])] # or와 같음

bb    20
dd    40
Name: 국어점수, dtype: int64

In [31]:
# sr[~((sr ==20) | (sr==40))]
sr[~sr.isin([20,40])]

aa    10
cc    30
ee    50
Name: 국어점수, dtype: int64

In [34]:
# sr[(sr >=20) & (sr<=40)]
sr[sr.between(20,40)]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [37]:
sr[sr.index =='bb']

bb    20
Name: 국어점수, dtype: int64

In [40]:
sr.index.isin(['aa','cc','dd'])

array([ True, False,  True,  True, False])