In [1]:
import pandas as pd
import numpy as np

In [24]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [5]:
# CRUD
sr[0] = 100
# sr['aa'] =100
# sr.loc['aa'] = 100
# sr.iloc[0] = 100

In [8]:
sr[1:3] = [1,2]
# sr.iloc[1:3]=[1,2]
# sr['bb':'cc'] = [1,2]
# sr.loc['bb':'cc'] = [1,2]

aa    100
bb      1
cc      2
dd     40
ee     50
Name: 국어점수, dtype: int64

In [11]:
sr['dd':'ee'] = sr['dd':'ee']+2
sr

aa    100
bb      1
cc      2
dd     44
ee     54
Name: 국어점수, dtype: int64

In [16]:
# 30이상인 데이터에 5를 더한값을 수정하시오
sr[sr>=30] = sr[sr>=30]+5
sr

aa    10
bb    20
cc    40
dd    50
ee    60
Name: 국어점수, dtype: int64

# 추가

In [19]:
# 있으면 수정 없으면 추가
sr.loc['ff'] = 70
sr

aa    10
bb    20
cc    40
dd    50
ee    70
ff    70
Name: 국어점수, dtype: int64

In [20]:
# 적용을 할려면 변수 할당
sr = sr.append(pd.Series([80,90,100],index = ['gg','hh','ii']))

aa     10
bb     20
cc     40
dd     50
ee     70
ff     70
gg     80
hh     90
ii    100
dtype: int64

# 삭제

In [22]:
# sr.drop(부여된 인덱스 !!)
# sr = sr.drop(['aa','cc']) 변수로 받아야 바뀐다
sr.drop(['aa','cc'],inplace = True) # inplace = True하면 변수에 할당안해도 바로된다

In [31]:
# 25이상인 데이터를 삭제하시오
sr.drop(sr[sr>=25].index,inplace = True)

aa    10
bb    20
Name: 국어점수, dtype: int64

# 정렬 (inplace = True면 바뀐걸 변수에 안넣어도 바로적용됨(정렬말고도 거의다))

In [34]:
sr[0] = 100

In [37]:
sr.sort_values(ascending=False)

aa    100
ee     50
dd     40
cc     30
bb     20
Name: 국어점수, dtype: int64

In [35]:
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [39]:
sr.sort_index(ascending=False)

ee     50
dd     40
cc     30
bb     20
aa    100
Name: 국어점수, dtype: int64