In [1]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [ ]:
## 데이터프레임 통계함수 디폴트(컬럼(열)별) axis = 1 => row(행)별

In [7]:
# 컬럼별 합
# df.sum(axis = 0)
df.sum(axis = None)

eng     160
kor     200
math    230
dtype: int64

In [9]:
df.sum(axis = 1).sum()

590

In [19]:
# 데이터프레임을 시리즈로 변형
sr = df.unstack()
sr.sum()

590

In [18]:
# 멀티 인덱스
sr['eng']['a']

10

In [20]:
df.mean()

eng     40.0
kor     50.0
math    57.5
dtype: float64

In [22]:
df.mean(axis = 1).round(2)

a    40.00
b    40.00
c    43.33
d    73.33
dtype: float64

In [23]:
df.mean().mean()

49.166666666666664

In [25]:
df.values.mean()

49.166666666666664

In [26]:
df.max()

eng     70
kor     80
math    90
dtype: int64

In [27]:
# 모든값중 가장 큰값
df.max().max()

90

In [28]:
df.min()

eng     10
kor     20
math    20
dtype: int64

In [36]:
df.loc[df.idxmax().values]

   eng  kor  math
d   70   80    70
d   70   80    70
a   10   20    90

In [31]:
df.idxmax(axis = 1)

a    math
b    math
c     kor
d     kor
dtype: object

In [34]:
df.median()

eng     40.0
kor     50.0
math    60.0
dtype: float64

In [38]:
df.std()

eng     25.819889
kor     25.819889
math    29.860788
dtype: float64

In [40]:
df.quantile([0.25,0.5,0.75])

       eng   kor  math
0.25  25.0  35.0  42.5
0.50  40.0  50.0  60.0
0.75  55.0  65.0  75.0

In [41]:
# 각 컬럼별 개수
df.count()

eng     4
kor     4
math    4
dtype: int64

In [42]:
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   40.000000  50.000000  57.500000
std    25.819889  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    25.000000  35.000000  42.500000
50%    40.000000  50.000000  60.000000
75%    55.000000  65.000000  75.000000
max    70.000000  80.000000  90.000000