In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime 

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
data = np.random.randint(1,10,size=4)
data

array([3, 3, 2, 7])

In [3]:
data = np.random.randint(30,101,size=(4,6))
data

array([[ 80,  33,  47,  31,  49,  37],
       [ 69,  37,  53,  39, 100,  90],
       [ 93,  92,  72,  97,  50,  48],
       [ 94,  94,  90,  42,  40,  35]])

In [4]:
df = pd.DataFrame(data)

In [5]:
df['년도'] = [2018,2018,2019,2019]
df['반'] = ['1반','2반','1반','2반']
df

    0   1   2   3    4   5    년도   반
0  80  33  47  31   49  37  2018  1반
1  69  37  53  39  100  90  2018  2반
2  93  92  72  97   50  48  2019  1반
3  94  94  90  42   40  35  2019  2반

In [7]:
df.set_index(['년도','반'])

          0   1   2   3    4   5
년도   반
2018 1반  80  33  47  31   49  37
     2반  69  37  53  39  100  90
2019 1반  93  92  72  97   50  48
     2반  94  94  90  42   40  35

In [8]:
df

    0   1   2   3    4   5    년도   반
0  80  33  47  31   49  37  2018  1반
1  69  37  53  39  100  90  2018  2반
2  93  92  72  97   50  48  2019  1반
3  94  94  90  42   40  35  2019  2반

In [9]:
pd.MultiIndex.from_product([ [2018,2019] , ['1반','2반']],names = ['년도','반'])

MultiIndex([(2018, '1반'),
            (2018, '2반'),
            (2019, '1반'),
            (2019, '2반')],
           names=['년도', '반'])

# 멀티인덱스 생성법

In [13]:
df.index = pd.MultiIndex.from_product([ [2018,2019] , ['1반','2반']])
df

          0   1   2   3    4   5    년도   반
2018 1반  80  33  47  31   49  37  2018  1반
     2반  69  37  53  39  100  90  2018  2반
2019 1반  93  92  72  97   50  48  2019  1반
     2반  94  94  90  42   40  35  2019  2반

# 멀티인덱스에서 첫번째 인덱스를 출력해야할때

In [14]:
df.index.levels[0],df.index.levels[1] # 반복값없음

(Int64Index([2018, 2019], dtype='int64'), Index(['1반', '2반'], dtype='object'))

In [19]:
df.index.get_level_values(0),df.index.get_level_values(1) # 반복값까지 다구함

(Int64Index([2018, 2018, 2019, 2019], dtype='int64', name='년도'),
 Index(['1반', '2반', '1반', '2반'], dtype='object', name='반'))

In [28]:
df.drop(columns = ['년도','반'],inplace = True)

In [21]:
df

          0   1    2   3   4   5
년도   반
2018 1반  99  68   54  68  62  47
     2반  99  66  100  81  95  36
2019 1반  92  31   92  89  30  34
     2반  70  65   98  51  51  80

# 인덱스를 컬럼으로 만들어준다

In [24]:
df.reset_index(inplace = True)

In [29]:
df

          0   1    2   3   4   5
년도   반
2018 1반  99  68   54  68  62  47
     2반  99  66  100  81  95  36
2019 1반  92  31   92  89  30  34
     2반  70  65   98  51  51  80

In [30]:
df.columns = pd.MultiIndex.from_product([ ['홍길동','이순신','임꺽정'] , ['국어','영어']])
df

        홍길동      이순신     임꺽정
         국어  영어   국어  영어  국어  영어
년도   반
2018 1반  99  68   54  68  62  47
     2반  99  66  100  81  95  36
2019 1반  92  31   92  89  30  34
     2반  70  65   98  51  51  80

# 멀티컬럼에서 첫번째 인덱스를 출력해야할때

In [31]:
df.columns.levels[0]

Index(['이순신', '임꺽정', '홍길동'], dtype='object')

In [32]:
df.columns.levels[1]

Index(['국어', '영어'], dtype='object')